{% extends 'template.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<body style="margin-top: 120px;">
    
    <h1 class="text-center mt-5 mb-5">AGREGAR NUEVO REGISTRO</h1>

    <!-- Formas para la introducción de datos -->
    <div class="container">
        <div class="card shadow">
        <div id="card-header" class="card-header text-center"> Introduce la información</div>
            <div class="card-body">
                
                <form action="{{ url_for('home') }}" method="POST">
                    <div class="row mb-3">
                        <div class="row">
                            <div class="col">
                                <label>ID del Producto</label>
                                <input type="text" class="form-control mb-3" name="idProducto">
                            </div>
                            <div class="col">
                                <label>Nombre del Producto</label>
                                <input type="text" class="form-control mb-3" name="nombreProducto">
                            </div>
                        
                            <div class="col">
                                <label>Proveedor</label>
                                <input type="text" class="form-control mb-3" name="proveedorProducto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Categoría</label>
                                <input type="text" class="form-control mb-3" name="categoriaProducto">
                            </div>
                            <div class="col">
                                <label>Lote</label>
                                <input type="text" class="form-control mb-3" name="loteProducto">
                            </div>
                            <div class="col">
                                <label>Cantidad de Inventario</label>
                                <input type="text" class="form-control mb-3" name="cantidadProducto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Descripción</label>
                                <input type="text" class="form-control mb-3" name="descripcionProducto">
                            </div>
                        </div>
                        <div class="col">
                            <button class="btn-lg" type="submit" id="btn-submit">Guardar Registro</button>
                        </div>
                    </div>
                </form>
            
    </div>
 
</body>
{% endblock %}
