{% extends 'main/base.html' %}

{% block title %}Registros{% endblock %}

{% block content %}



     <!-- Tabla -->
     <table class="table table-responsive table-bordered">
        <thead>
            <th scope="col"></th>
            <th scope="col">ID Producto</th>
            <th scope="col">Producto</th>
        
        </thead>
    
        <tbody>
            {% for i in inventario %}
            
            <tr>
                <td> {{ i[0] }} </td>
                <td> {{ i[1] }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

                        

{% endblock %}