{% extends 'main/base.html' %}

{% block title %}Registros{% endblock %}

{% block content %}


<body  style="margin-top: 120px;">
    <h1 class="text-center mb-3">INVENTARIO DE MATERIALES</h1>
    <div class="container-lg d-flex justify-content-center">

        <div class="card col-md-9">
            <div id="card-header" class="card-header text-center">Inventario de Materiales</div>
            <div class="card-body">


                <!-- Tabla -->
                <table class="table table-responsive table-bordered">
                    <thead>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                    
                    </thead>
                
                    <tbody>
                        
                        {% for i in inventario %}
                        
                        <tr>
                            <td> {{ i[0] }} </td>
                            <td> {{ i[1] }}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
            </div>
        </div>

                        

{% endblock %}